<div id="duoshuo_btn">
	<button type="button" style="width:100%" class="btn btn-default" onclick="toggleDuoshuoComments('#comment-box');">	
  		<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>     <!-- 修改显示评论按钮图标-->
	</button>
</div>
<div id="comment-box" ></div>
<script>var duoshuoQuery = {short_name:"wangzi6147"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>
<script type = "text/javascript">
	function toggleDuoshuoComments(container){
		document.getElementById("duoshuo_btn").style.display="none";
    var el = document.createElement('div');//该div不需要设置class="ds-thread"
	{% if page.id %}
    el.setAttribute('data-thread-key', '{{ page.id }}');//必选参数
	{%else%}
	el.setAttribute('data-thread-key', '{{ page.url }}');//必选参数
	{%endif%}
	{% if page.title %}
    el.setAttribute('data-title', '{{ page.title }}');//可选参数
	{%else%}
	el.setAttribute('data-title', '{{ page.url }}');//可选参数
	{%endif%}
    el.setAttribute('data-url', '{{site.url}}{{page.url}}');//必选参数
    DUOSHUO.EmbedThread(el);
    jQuery(container).append(el);
	}
</script>