<script src="http://jayveestorage.qiniudn.com/dev/js/loquor.js"></script>
<div id="loquor_btn">
    <button type="button" style="width:100%" class="btn btn-default" onclick="toggleLoquorComments('#comment-box');">
        <i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>     <!-- 修改显示评论按钮图标-->
    </button>
</div>
<div id="comment-box" ></div>
<script type = "text/javascript">
    function toggleLoquorComments(container){
        document.getElementById("loquor_btn").style.display="none";
        $('<div/>', {
            'id': 'loquor_container',
            'data-loquor-id': '{{ site.loquor.shortname }}',
            'data-loquor-page-id': '{{ page.id }}',
            'data-loquor-pagetitle': '{{ page.title }}',
            'data-loquor-pageurl': '{{ site.url }}{{ page.url }}'
        }).appendTo(container);
        loquorInit();
    }
</script>